
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>
            I have a diverse range of hobbies that keep me entertained and engaged. One of my greatest passions is cricket, a sport that captivates me with its strategic gameplay and exhilarating moments. Whether it's watching a thrilling match or playing with friends, cricket never fails to ignite my competitive spirit. Another hobby of mine is following UFC (Ultimate Fighting Championship). The mix of skill, technique, and raw athleticism in mixed martial arts is simply captivating. I enjoy witnessing the intense battles between fighters and staying up-to-date with the latest events and matchups. Lastly, I have a deep love for movies. From action-packed blockbusters to thought-provoking dramas, I appreciate the power of storytelling through the cinematic medium. Exploring different genres and immersing myself in captivating narratives is a source of great joy and inspiration in my life.
          </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>To be Continued...</h2>
          <p>Why don't scientists trust atoms?
            Because they make up everything!</p>
        </aside>
      </div>
   