<div class="container" style="padding-top: 60px">
  <div class="row">
    <div class="col-md-12">
      <h2>Add Post</h2>
      <h2>Posts</h2>
      <a href="/posts/add" class="btn btn-success pull-right">Add Post</a>
      {{#if categories.length}}
        <form method="post" action="/posts/add" enctype="multipart/form-data">
       
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="category">Category:</label>
                <select class="form-control" name="category" id="category">
                  <option value="">Select Category</option>
                  {{#each categories}}
                    <option value="{{id}}">{{category}}</option>
                  {{/each}}
                </select> 
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="category">Visibility:</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="published" id="published"> Published
                  </label>
                </div>
              </div>
            </div>
          </div>
        
          <hr />
          <input type="submit" class="btn btn-primary pull-right" value="Add Post" /><br /><br /><br />
        </form>
      {{else}}
        <div>No Categories</div>
      {{/if}}
    </div>
  </div>
</div>
