<div class="row">
    <div class="col-md-12">
        {{#unless categories}}
        <strong>{{message}}</strong>
        {{/unless}}
        <h2>Categories<a href="/categories/add" class="btn btn-success pull-right">Add Category</a></h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Category ID </th>
                        <th>Category Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each categories}}
                    <tr>
                        <td>{{this.id}} </td>
                        <td>{{this.category}}</td>
                        <td><a href="/categories/delete/{{this.id}}" class="btn btn-danger">Remove</a></td>
                    </tr>
                    {{/each}}
                </tbody> 
            </table>
        </div>


    </div>
</div>
