<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
    </head>
    <body>
       {{!-- •	Above the form, we must have a space available for error output:  Show the element: <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div> only if there is an errorMessage rendered with the view.   --}}
        <h1>Login</h1>
        {{#if errorMessage}}
        <div class="alert alert-danger">
            <strong>Error:</strong> {{errorMessage}}
        </div>
        {{/if}}
        {{!-- •	Next, we must have a form that will allow the user to submit their credentials (using POST) to the "/login" POST route: --}}

        <form action="/login" method="POST">
            <label for="userName">User Name</label>
            <input type="text" name="userName" id="userName" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login</button>
        </form>
{{!--         
            <input type="submit" value="Login">
        </form> --}}

    </body>
</html>