

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>
    <body>

        <h1>Register</h1>
        {{#if errorMessage}}
        <div class="alert alert-danger">
            <strong>Error:</strong> {{errorMessage}}
        </div>
        {{/if}}

        {{#if successMessage}}
        <div class="alert alert-success"> <strong>Success:</strong>
            {{successMessage}}</div><a class="btn btn-success pull-right"
            href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a><br /><br /><br />
        {{/if}}

    
        <form action="/register" method="POST">
            <label for="userName">User Name</label>
            <input type="text" name="userName" placeholder:"User Name"
                id="userName" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <label for="password2">Confirm Password</label>
            <input type="password" name="password2" id="password2" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Register</button>
        </form>

    </body>
</html>